.react-select-container .react-select__control {
  /* border: 1px solid #e3e3e3;
  border-color: #e3e3e3; */
  min-height: 40px;
}

.react-select__indicators-container .react-select__indicators {
  margin-top: 25%;
  margin-bottom: 25%;
}

/* .react-select__value-container .react-select__placeholder {
  color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
} */

.react-select__single-value {
  width: 98%;
  font-size: 0.875rem;
}

/* .react-select__single-value span {
  color: #565656;
} */

.double-line .react-select__value-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

input.double-line {
  height: 54px;
}

.double-line.react-select-container .react-select__control {
  min-height: 54px;
}

.has-error .react-select-container .react-select__control {
  color: #fb404b;
  border-color: #fb404b;
  box-shadow: none;
}
